@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import "../../SCSS/mixins";

.teachersSection {

    @include minMobileL {
        margin-top: 28px;
    }

    @include mobileL {
        margin-top: 55px;
    }

    h2 {
        font-family: "Onest", sans-serif;
        font-weight: 700;
        font-style: bold;
        font-size: 48px;
        text-align: center;
        margin: 40px;
        color: #000;

        @include oldMonitor {
            font-size: 42px;
        }

        @include tablet {
            font-size: 40px;
            margin: 35px;
        }

        @include mobileL {
            font-size: 28px;
            margin: 20px;
        }

        @include mobileM {
            font-size: 22px;
        }
    }

    .cardWrapper :global(.slick-slide) {
        padding: 0 10px;
    }

    .cardWrapper :global(.slick-list) {
        margin: 0 -10px;
    }

    .cardWrapper {
        .card {
            background-color: #E44A59;
            border-radius: 20px;
            font-family: "Onest", sans-serif;
            cursor: pointer;
            height: 570px;

            h3 {
                margin: 15px 0 10px;
                font-size: 22.75px;
                color: white;
                padding: 7px 30px 0 35px;
            }

            p {
                font-size: 17px;
                color: white;
                padding: 0 30px 40px 35px;
                font-weight: 100;
            }

            .imgWrapper {
                position: relative;
                height: 360px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    /* ---------- Планшет ---------- */
    @include tablet {
        .cardWrapper {
            .card {
                height: 600px;

                h3 {
                    font-size: 19px;
                    margin: 8px 0 7px;
                    padding: 7px 30px 0 30px;
                }

                p {
                    font-size: 16px;
                    padding: 0 30px 25px 30px;
                }

                .imgWrapper {
                    height: 420px;
                }
            }
        }
    }

    /* ---------- Мобильный ---------- */
    @include mobileL {
        .cardWrapper {
            .card {
                width: 100%;
                height: 800px;

                h3 {
                    font-size: 20px;
                    text-align: center;
                    padding: 10px 15px 0 15px;
                }

                p {
                    font-size: 18px;
                    text-align: center;
                    padding: 0 20px 25px 20px;
                }

                .imgWrapper {
                    height: 640px;
                }
            }
        }
    }

    /* ---------- Маленькие экраны ---------- */
    @include mobileM {
        .cardWrapper {
            .card {
                height: 450px;

                h3 {
                    font-size: 16px;
                }

                p {
                    font-size: 14px;
                }

                .imgWrapper {
                    height: 300px;
                }
            }
        }
    }
}