.hero {
    position: relative;
    overflow: visible;
    margin: 200px 0;
}

.main_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    position: relative;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 30px;
    z-index: 2;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: "Onest", sans-serif;
}

.request {
    border-radius: 35px;
    cursor: pointer;
    border: none;
    background-color: #F46E08;
    font-family: "Onest", sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 13px 30px;
    color: #FFFFFF;
    width: 60%;
    max-width: 250px;
}

.imageWrapper {
    position: absolute;
    right: -110px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.infinity {
    width: 90vh;
    max-width: 800px;
    height: auto;
}