@import "../../SCSS/mixins";

.hero {
  position: relative;
  overflow: visible;
  margin-bottom: 80px;
  height: 80vh;

  .main_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .title {
      width: 50%;
      gap: 100px;
      z-index: 2;

      h1 {
        font-size: 68px;
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
        margin: 80px 0 180px 0;
      }

      .infoWrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding-bottom: 40px;

        h3 {
          font-size: 59.97px;
          color: #595959;
          font-family: "Onest", sans-serif;
          font-weight: 700;
        }

        p {
          font-family: "Onest", sans-serif;
          font-size: 21.66px;
          font-weight: 400;
          color: #595959;
        }

        img {
          width: 70px;
          margin-top: 10px;
        }
      }
    }

    .imageWrapper {
      position: absolute;
      right: -185px;
      top: 60%;
      transform: translateY(-50%);
      z-index: -10;

      .infinity {
        width: 90vh;
        max-width: 800px;
        height: auto;
      }

    }
  }

  //1440
  @include LaptopL {
    height: auto;

    .main_info {
      flex-direction: column;
      align-items: flex-start;

      .title {
        width: 58%;

        .infoWrapper {
          h3 {
            font-size: 53px;
          }

          p {
            font-size: 20px;
          }

          img {
            margin-top: 1px;
          }

        }

        h1 {
          font-size: 53px;
          margin: 80px 0;
        }
      }

      .imageWrapper {
        right: -138px;

        .infinity {
          width: 78vh;
        }
      }
    }
  }

  // 1280
  @include oldMonitor {
    height: auto;

    .main_info {
      flex-direction: column;
      align-items: flex-start;


      .title {
        width: 73%;


        h1 {
          font-size: 53px;

        }

        .infoWrapper {
          display: flex;
          flex-direction: column;

          h3 {
            font-size: 50px;
          }

          p {
            font-size: 19px;
          }


        }
      }

      .imageWrapper {
        right: -95px;

        .infinity {
          width: 75vh;
        }
      }
    }
  }

  //1024
  @include old1024 {
    height: auto;

    .main_info {
      flex-direction: column;
      align-items: flex-start;

      .title {
        width: 85%;

        h1 {
          font-size: 50px;
          margin: 60px 0;
        }

        .infoWrapper {
          img {
            width: 70px;
          }
        }
      }

      .imageWrapper {
        right: -122px;

        .infinity {
          width: 70vh;
        }
      }
    }
  }

  //992px
  @include tablet {
    height: auto;

    .main_info {
      flex-direction: column;
      align-items: flex-start;

      .title {
        width: 85%;

        h1 {
          font-size: 45px;
          margin: 60px 0;
        }

        .infoWrapper {
          h3 {
            font-size: 47px;
          }

          p {
            font-size: 19px;
          }

          img {
            width: 69px;
          }
        }
      }

      .imageWrapper {
        right: -86px;

        .infinity {
          width: 60vh;
        }
      }
    }
  }

  //767px
  @include mobileL {
    height: auto;

    .main_info {
      .title {
        width: 95%;

        h1 {
          font-size: 34px;
          margin: 30px 0;
        }

        .infoWrapper {
          h3 {
            font-size: 34px;
          }

          p {
            font-size: 16px;
          }

          img {
            width: 58px;
          }
        }
      }

      .imageWrapper {
        right: -65px;
        top: 46%;

        .infinity {
          width: 48vh;
        }
      }
    }
  }

  //500
  @include mobileM {
    height: auto;

    .main_info {
      .title {
        width: 100%;

        h1 {
          font-size: 30px;
          margin: 20px 0;
        }

        .infoWrapper {
          h3 {
            font-size: 30px;
          }

          p {
            font-size: 16px;
          }

          img {
            width: 50px;
          }
        }
      }

      .imageWrapper {
        right: -50px;

        .infinity {
          width: 40vh;
        }
      }
    }
  }
}


//430
@include mobileS {
  .hero {
    height: auto;

    .main_info {
      .title {
        width: 100%;

        h1 {
          font-size: 30px;
          margin: 20px 0;
        }

        .infoWrapper {
          h3 {
            font-size: 30px;
          }

          p {
            font-size: 16px;
          }

          img {
            width: 50px;
          }
        }
      }

      .imageWrapper {
        right: -42px;

        .infinity {
          width: 35vh;
        }
      }
    }




  }
}


.request {
  border-radius: 35px;
  cursor: pointer;
  border: none;

  background: linear-gradient(270deg, #a91525, #f46e08, #a91525);
  background-size: 400% 400%;
  transition: background-position 0.6s ease-in-out;

  font-family: "Onest", sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding: 13px 30px;
  color: #ffffff;
  width: 60%;

  &:hover {
    background-position: 100% 0;
  }

  @include old1024 {
    width: 45%;
    font-size: 17px;
  }

  @include tablet {
    width: 44%;
    font-size: 14px;
  }

  @include mobileL {
    display: block;
    margin: 10px auto;
    width: 63%;
  }

  @include mobileM {
    width: 65%;
    font-size: 12px;
  }

  @include mobileS {
    width: 60%;
    font-size: 11px;
  }
}