@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');


h1 {
    font-size: 60px;
    font-weight: 700;

    font-family: "Onest", sans-serif;
}

.request {
    border-radius: 35px;
    cursor: pointer;
    border: none;
    background-color: #D71F2B;
    font-family: "Onest", sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 13px 30px;
    color: #FFFFFF;
    width: 40%;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 400px;
    gap: 30px;
}

.infinity {
    width: 1000px;
    height: 750px;
    position: absolute;
    right: 0%;
    top: 15%;

}