
.main_module {
      display: flex;
      width: 100%;
      gap: 30px;

       .module_left {
       display: flex;
       flex-direction: column;
       flex: 0 0 24%;
       background: linear-gradient(90deg, #000000 0%, #820512 100%);
       font-family: Inter, sans-serif;
       color: #FFFFFF;

       .left_title {
            font-size: 24px;
            font-weight: 700;
            font-style: bold;
            line-height: 32px;
            margin: 30px 150px 50px 20px;
            
       }

       .left_text{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            width: 90%;
            margin: 0 20px 20px;
       }
       }

       .module_right{
        display: flex;
        flex-direction: column;
        flex: 0 1 30%;
        font-family: Inter, sans-serif;
        color: #000000;

        .right_title{
            font-weight: 700;
            font-style: bold;
            font-size: 20px;
            margin: 20px 0 30px 0;
        }

        .right_text{
            margin-bottom: 20px;

            .bullits_wrapper{
              display: flex;
              flex-wrap: wrap;
              

            span {
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 16px;
                  display: inline-block;
                  padding: 4px 10px; 
                  margin: auto 4px 6px 0;
                  background-color: #E0DEE9;
                  border-radius: 16px;
            }
             }
      }

            

}
}